:root {
  --grey: #aaaaac;
  --yellow: #ffc600;
  --black: #272727;
}

body {
  box-sizing: border-box;
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.app {
  text-align: center;
}

.main h1 {
  color: var(--yellow);
  text-align: center;
}

.app p {
  font-size: 16px;
  font-weight: bold;
}

/* MY STYLES */

/* FRONT PAGE */

input[type="search"] {
  display: grid;
  margin: 0 auto;
  width: 50%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.list {
  margin: 20px auto;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
}

.listItem {
  display: grid;
  justify-content: center;
  align-items: center;
  border: 5px solid rgba(0, 0, 0, 0.03);
  border-radius: 3px;
  font-size: 15px;
  padding: 5px;
  font-weight: bold;
  background-color: var(--yellow);
}

.listStation {
  margin: 0 auto;
  display: grid;
  width: 90%;
  grid-gap: 15px;
  text-align: center;
}

@media (min-width: 960px) {
  .listStation {
    margin: 0 auto;
    width: 60%;
  }
}

.stationed {
  display: grid;
  /* padding: 10px; */
  border-radius: 0.4em;
  border: 1px solid #ced4da;
}

.bikeNumber {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  padding: 25px;
}

.stationName {
  display: grid;
  font-weight: bold;
  padding: 9px;
}

.stationTimeStamp {
  display: grid;
  padding: 9px;
  color: #495057;
}

.stationNumber {
  font-size: 35px;
  padding: 4px;
  color: #495057;
  font-weight: bold;
}

.stationTitle {
  color: #495057;
  font-size: 10px;
  font-weight: bold;
}

hr {
  width: 100%;
  background-color: #495057;
  height: 0.012em;
  margin: 0;
}

img {
  width: 20px;
}

.spinner {
  display: grid;
  place-items: center;
}

.fa-sync {
  font-size: 12px;
}

sup {
  font-size: 10px;
  font-weight: bold;
  color: black;
}
